.page{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
}
@media (min-width: 1599px){
  .page {
    padding: 0 13.39286vw;
    width: 73.21429vw;
  }
}
@media (max-width: 1599px) and (min-width: 650px){
  .page {
    padding: 0 calc(13.39286vw - 45px) 0 calc(13.39286vw + 45px);
    width: 73.21429vw;
  }
}
@media (max-width: 650px){
  .page {
    padding: 0 15.47619vw 0 calc(15.47619vw + 45px);
    width: 69.04762vw;
  }
}
